// Import the styles for each MDC Web component
@use "@material/drawer/mdc-drawer";
@use "@material/list/mdc-list";
@use "@material/top-app-bar/mdc-top-app-bar";
@use "@material/typography/mdc-typography";
@use "@material/icon-button/mdc-icon-button";


body {
  display: flex;
  height: 100vh;
  margin: 0;
}

.mdc-drawer-app-content {
  flex: auto;
  overflow: auto;
  position: relative;
}

.main {
  margin: 8px;
}

.main-content {
  overflow: auto;
  height: 100%;
}

.app-bar {
  position: absolute;
}

// Desktop Drawer

@media (min-width: 900px) {
  .mdc-top-app-bar {
    z-index: 7;
  }
  .mdc-top-app-bar__navigation-icon {
    display: none;
  }
  .mdc-drawer {
    position: relative;
    box-shadow: none;
    display: flex;
  }
  .mdc-drawer__header {
    display: none;
  }
  .mdc-drawer__content {
    padding-top: 64px;
  }
  .mdc-drawer-scrim {
    display: none!important;
  }
}

a.mdc-top-app-bar__title {
  color: white;
}
