// Import the styles for each MDC Web component
@use "@material/drawer/mdc-drawer";
@use "@material/list/mdc-list";
@use "@material/top-app-bar/mdc-top-app-bar";
@use "@material/typography/mdc-typography";
@use "@material/icon-button/mdc-icon-button";


body {
  background: #ffffff;
  display: flex; // Removes top gap between modal drawer and viewport
  height: 100vh; // Ensures that permanent drawer extends to bottom of viewport
  margin: 0; // Removes top gap between top app bar and viewport
}

.mdc-top-app-bar {
  z-index: 7;
}

.main-content {
  margin: 8px;
}

// BREAKPOINT min-width:900px

.mdc-top-app-bar__navigation-icon {
  display: none;
}

// BREAKPOINT max-width:900px

@media (max-width: 900px) {
  .mdc-top-app-bar__navigation-icon {
    display: block;
  }

  .mdc-drawer {
    z-index: 10;
  }
}
